@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased overflow-y-scroll bg-gray-50 dark:bg-[#0B1120];
    font-family: 'Inter', sans-serif;
  }
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-mono {
  font-family: 'Space Mono', monospace;
}
